<ion-view view-title="Activation Result">
  <ion-content class="simobi-background-content">
  	<div class="list list-inset">
	  <label class="item item-text-wrap">
	  		Your account has been activated, please proceed to click one button below
	  </label>
  	  <button class="button button-block button-positive" ng-click="doLoginToCustomerPage()">
	  	Login
	  </button>
	  <button class="button button-block button-positive" ng-click="doLogoutToMainPage()">
	  	Logout
	  </button>
  	</div>
  	<div class="footer-space"/>
  </ion-content>
</ion-view>