<ion-view cache-view="false" view-title="{{'acc_statement'|translate}}">
	<ion-content class="simobi-background-content">
		<form >	
			<div class="list list-inset">
				<table width="100%">
					<tr>
						<td> 
							<div id="statement" > 
							</div>
						</td>
					</tr>
					<tr>
						<td class="td-space" colspan="2"></td>
					</tr>
					<tr>
						<td class="td-space" colspan="2">
							<input class="button button-block button-assertive"  type="button" name="button" id="button" value="Save to File" ng-click="doPopUpPrintStatement();" />
						</td>
					</tr>
				</table>
			</div>
		</form>
		<div class="footer-space"/>
	</ion-content>
</ion-view>
