<ion-view cache-view="false" view-title="Statement Detail">
	<ion-content class="simobi-background-content">
		<form >	
			<div class="list list-inset">
				<table width="100%">
					<tr>
						<td> 
							<!-- <div id="statement"> aa
							</div> -->


							<div id="contructStatement"> 
							</div>
							<!-- {{statement}} -->
						</td>
					</tr>
					<tr>
						<td class="td-space" colspan="2"></td>
					</tr>
				</table>
			</div>	
		</form>
		<div class="footer-space"/>
	</ion-content>
</ion-view>
