<ion-view cache-view="false" view-title="{{'change_password_result'|translate}}">
  <ion-content scroll = "false" class="simobi-background-content">
  
  <label class="item item-checkbox item-text-wrap">
     {{'change_password_success'|translate}}
  </label>
  
  <button class="button button-block button-positive" ng-click="doGotoHome()">{{'button_goToHome' | translate}}</button>
  <button class="button button-block button-positive" ng-click="doLogout()">{{'button_logout' | translate}}</button>

  <div class="footer-space"/>
  </ion-content>
</ion-view>