<ion-view cache-view="false" view-title="{{'change_password'|translate}}">
  <ion-content class="simobi-background-content">
    <div class="list list-inset">
        <label class="item item-input">
         <input type="password" ng-model="passwordData.oldPass" placeholder="{{'enter_old_password'|translate}}">
        </label>
        <label class="item item-input">
         <input type="password" ng-model="passwordData.newPass" placeholder="{{'enter_new_password'|translate}}">
        </label>
        <label class="item item-input">
         <input type="password" ng-model="passwordData.newPassConfirm" placeholder="{{'enter_confirm_new_password'|translate}}">
        </label>
    </div>
	  <div class="list list-inset" ng-click="doChangePassword()">
        <button class="button button-block button-positive" type="submit">{{'button_submit'|translate}}</button>
	  </div>
      <div class="footer-space"/>
  </ion-content>
</ion-view>
