
<ion-view cache-view="false" view-title="Billpayment Result">
<ion-content class="simobi-background-content">
<div class="list list-inset" align="center">
<button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backToBillpay();">{{ 'button_back' | translate }}</button>
<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button icon-left ion-home" ng-click="backToIndex();">Home</button> -->

<table width="100%">
   <tr>
        <td colspan="2" id="resultList"> 
		</td>
   </tr>
</table>
</div>
<div class="footer-space"/>
</ion-content>
</ion-view>

