<ion-view cache-view="false" view-title="Billpayment">
<ion-content ng-controller="BillpayDetailType6Ctrl" class="simobi-background-content">
<p class="m_content-title-inputbillpay">{{ 'purchasePayment_title' | translate }}</p>
<p class="m_content-title-inputbillpay">{{billpaymentMerchantType}}</p>
<hr>
<div class="list list-inset" align="center">
<!-- <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="backToBillpay();">{{ 'button_back' | translate }}</button> -->
<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button icon-left ion-home" ng-click="backToIndex();">Home</button><br><br> -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">

<tr><td>
<div class="list list-inset" align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
           <td class="td-label-left">
           	<div ng-show="visibleAccNumber == 'true'"> 
				<!-- <p class="m_content-caption-accnumber"> {{ 'purchasePayment_accountNumber' | translate }} </p> -->
				<!-- <select name="accountNumber" id="accountNumber" class="m_content-combobox-accnumber" ng-model="accSelect" ng-options="accSelect.id as accSelect.label for accSelect in accListObject"> </select> -->
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="queryAccountList" name='accountNumber' id='accountNumber' ng-click="openPopupAccounttList();" placeholder="{{'search_account' |translate}}" size="41">
          </label>
          <div ng-show="hiddenInputBillpay == 'true'"> 
            <input ng-model='accountNumberSelect' type='text' style="visibility: hidden;" name='accountNumberHidden' id='accountNumberHidden'/>
          </div>
			</div>
			<br>
          		<!-- <p class="m_content-caption">{{ subscriberNoLabel }}</p> -->
           </td>
       </tr>
       <tr>
           <td class="td-label-left">

           	<div ng-show="visibleSubcriberText == 'true'">
              <label class="item item-input">
                <input type="text" ng-model="subscriberNo" name='subscriberNo' id='subscriberNo' placeholder="{{ subscriberNoLabel }}" maxlength="16">
              </label>
           	</div>

           	<div ng-show="visibleSubcriberTel == 'true'"> 
              <label class="item item-input">
                <input type="tel" ng-model="subscriberNo" name='subscriberNo' id='subscriberNo' placeholder="{{ subscriberNoLabel }}" maxlength="16">
              </label>
           	</div>

           	<p class="m_content-note">{{ numPatternDesc }}</p><br>
           </td>
       </tr>
       <tr>
           <td class="td-label-left">
            <ul class="list">
                <p class="m_content-note"> {{ 'purchasePayment_nameSaveToBP' | translate }}</p>
                <li class="item item-toggle"><br>
                   <label class="toggle toggle-balanced">
                     <input type="checkbox" id="saveToBillPaymentList" name="saveToBillPaymentList" ng-click="saveToBillPayList();">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </li>
              </ul>
    		   		<!-- <label class="toggle toggle-balanced">
        					<input type="checkbox" id="saveToBillPaymentList" name="saveToBillPaymentList" ng-click="saveToBillPayList();" />
        					<div class="track">
        					<div class="handle"></div>
        					</div>
        					<label class="m_content-note">{{ 'purchasePayment_nameSaveToBP' | translate }}</label>
    				  </label> -->
       		<!-- <input name="saveToBillPaymentList" class="m_content-checkbox" id="saveToBillPaymentList" type="checkbox"  ng-click="saveToBillPayList();">-->
           </td>
       </tr>
       <tr>
           <td class="td-label-left">
	            <br>
	       		<p class="m_content-caption">{{ denomLabel }}</p>

            <label class="item item-input item-selectSimobi">
              <select name="denomination" id="denomination" ng-model="denom" ng-disabled="disableElement == 'true'" ng-options="denomSelect.id as denomSelect.label for denomSelect in denomListObject" ng-change="checkPurchaseCode();">
              </select>
            </label>

              <div ng-show="hiddenInputBillpay == 'true'"> 
  	          	<input type="text" style="visibility: hidden;" id="subProductCode" name="subProductCode" ng-model="subProductCode"/>
  	          	<input type="text" style="visibility: hidden;" id="packageCode" name="packageCode" ng-model="packageCode"/>
  	          	<input type="text" style="visibility: hidden;" id="amount" name="amount" ng-model="amount"/>
              </div>
           </td>
       </tr>
      	<tr>
           <td class="td-label-left" colspan="2" id ="loadDataSecurityType"> 
           	<div ng-show="visibleBillpayST == 'true'"> 
           		<br>
            	<input type="button" nodeST="buttonCheckST" class="button button-block button-positive" name="buttonConfirmST" id="buttonConfirmST" value="Submit" ng-click="checkSecurityTypeAssigner();" /> 
			    <input type="button" nodeST="buttonCheckST" value="Cancel" class="button button-assertive" id="cancelBP" ng-click="backToBillpay();" />
			</div>
			<div id="securityTypeConfirmation" class="securityTypeConfirmation"></div>   
           	<div ng-show="visibleBillpayButton == 'true'"> 
           		<br>
				<input type="button" class="button button-block button-positive" nodeST="buttonConfirm" name="button" id="confirmBP" value="Submit" ng-click="doConfirmBillpaymentInput();" /> 
			    <input type="button" class="button button-assertive" nodeST="buttonCancel"  name="buttonCancelST" id="buttonCancelST" value="Cancel" ng-click="cancelCheckSecurity();"/> 
			</div>           
           </td>
       </tr>	
</table>   
</div>        
</td></tr>
</table>
</div>
    <div class="list list-inset" align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
          <tr>
             <td align="left">
                  <div class="m_footer-noteheader">{{ 'msg_note' | translate }}</div>
                  <ol class="m_footer-notefield">
                    <li>{{ 'purchasePayment_note1' | translate }}</li>
                    <li>{{ 'purchasePayment_note2' | translate }}</li>
                    <li>{{ 'purchasePayment_note3' | translate }}</li>
                  </ol>
            </td>
          </tr>
        </table>
      </div>
<div class="footer-space"/>
</ion-content>
</ion-view>