<ion-view cache-view="false" view-title="{{'account_summary'|translate}}">
	<ion-content class="simobi-background-content">
		<form>	
			<div id="accountSummaryId" class="list list-inset">
				<table width="100%">
					<tr>
						<td id="accountSummaryDisplay">
						</td>
					</tr>
				</table>
			</div>	
		  	<div id="accountCreditCardId" class="list list-inset">
					<table width="100%">
						<tr>
							<td id="accountCreditCardDisplay">
							</td>
						</tr>
					</table>
			</div>
<!-- 				<hr> -->
				
<!-- 				<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 					<tr> -->
<!-- 						<td> -->
<!-- 						<span class="titleWelcomeAccSum">WELCOME</span> <br> -->
<!-- 						<span class="txtNameAccSum">SIGIT (123456)</span><br> -->
<!-- 						<span class="txtNameAccSumSmall">Last signed in : December 07, 2015</span> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td class="bgrLineGrey"> -->
<!-- 							<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 							  <tr> -->
<!-- 								<td>Accounts & Product</td> -->
<!-- 								<td>Balance</td> -->
<!-- 							  </tr> -->
<!-- 							</table> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td> -->
<!-- 							<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 							  <tr> -->
<!-- 								<td><span class="txtNameAccSumDet">no fee</span><br><span class="txtNameAccSumDet">bank account</span><br><span class="txtNameAccSumDet">(0000456789)</span></td> -->
<!-- 								<td align="right">Rp 3.126,78&nbsp;<a class="arrowDet" href="http://localhost:8080/newMobileClientAngular2/#/app/accountSummaryDetail">&gt;</a></td> -->
<!-- 							  </tr> -->
<!-- 							</table> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td><hr class="btmLine"> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td> -->
<!-- 							<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 							  <tr> -->
<!-- 								<td><span class="txtNameAccSumDet">interest plus&trade;</span><br><span class="txtNameAccSumDet">saving account</span><br><span class="txtNameAccSumDet">(0000123456)</span></td> -->
<!-- 								<td align="right">Rp 6.126,78&nbsp;<a class="arrowDet" href="http://localhost:8080/newMobileClientAngular2/#/app/accountSummaryDetail">&gt;</a></td> -->
<!-- 							  </tr> -->
<!-- 							</table> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td><hr class="btmLine"> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td> -->
<!-- 							<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 							  <tr> -->
<!-- 								<td><span class="txtNameAccSumDet">Tax-Free Interest Plus&trade;</span><br><span class="txtNameAccSumDet">saving account</span><br><span class="txtNameAccSumDet">(0000345678)</span></td> -->
<!-- 								<td align="right">Rp 8.126,78&nbsp;<a class="arrowDet" href="http://localhost:8080/newMobileClientAngular2/#/app/accountSummaryDetail">&gt;</a></td> -->
<!-- 							  </tr> -->
<!-- 							</table> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 					<tr> -->
<!-- 						<td><hr class="btmLine"> -->
<!-- 						</td> -->
<!-- 					</tr> -->
<!-- 				</table> -->

		</form>
		<div class="footer-space"/>
	</ion-content>
</ion-view>
