<ion-view cache-view="false" view-title="{{'account_summary'|translate}}">
	<ion-content class="simobi-background-content">
		<form >		
			</br>
				<div class="list list-inset">
					<table width="100%">
						<tr>
							<td id="accountSummaryDetailDisplay">
							</td>
						</tr>
					</table>
					<hr>
					<table width="100%">
						<tr>
							<td id="historyDisplay">
							</td>
						</tr>
					</table>
					
<!-- 					<hr> -->
<!-- 					<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
					
					
<!-- 						<tr> -->
<!-- 							<td> -->
<!-- 							<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 							  <tr> -->
<!-- 								<td class="arrowBack"><a class="arrowBackContent" href="http://localhost:8080/newMobileClientAngular2/#/app/account_summary">&laquo;</a></td> -->
<!-- 								<td><span class="txtTitleAccDet">no fee bank account</span> <br> -->
<!-- 									<span class="txtTitleAccDetSmall">(0000123456)</span><br> -->
<!-- 									<span class="txtTitleAccDetSmall">current balance : Rp 3,546.76</span><br> -->
<!-- 									<span class="txtTitleAccDetSmall">available funds : Rp 7,546.76</span><br> -->
<!-- 									<span class="txtTitleAccDetSmall">bank card designation : chequing</span></td> -->
<!-- 							  </tr> -->
<!-- 							</table> -->
<!-- 							</td> -->
<!-- 						</tr> -->


<!-- 						<tr> -->
<!-- 							<td class="bgrLineGrey"> -->
<!-- 								<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 								  <tr> -->
<!-- 									<td>Transaction Detail</td> -->
<!-- 									<td>Balance</td> -->
<!-- 								  </tr> -->
<!-- 								</table> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td class="bgrLineRedLight"> -->
<!-- 								<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 								  <tr> -->
<!-- 									<td class="contentLO">Last 2 Operation</td> -->
<!-- 									<td class="squareHistory">History</td> -->
<!-- 								  </tr> -->
<!-- 								</table> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td class="bgrLineGreyLight"> -->
<!-- 								<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 								  <tr> -->
<!-- 									<td>December 07, 2015</td> -->
<!-- 								  </tr> -->
<!-- 								</table> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td> -->
<!-- 								<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 								  <tr> -->
<!-- 									<td class="padDate"> -->
<!-- 										<div id="balance_nav_result"> -->
<!-- 											<ul> -->
<!-- 												<li class="ul_style_va_top"> -->
<!-- 													<div id="balance_date_result"> -->
<!-- 														<ul> -->
<!-- 															<li class="ul_style_month">Sept</li> -->
<!-- 															<li class="ul_style_date">30</li> -->
<!-- 														</ul> -->
<!-- 													</div> -->
<!-- 												</li> -->
<!-- 											</ul> -->
<!-- 										</div> -->
<!-- 									</td> -->
<!-- 									<td><span class="txtNameAccSumValue">- Rp 50.000</span><br><span class="txtNameAccSumDet">CELL PHONE</span><br><span class="txtNameAccSumDet">BILL PAYMENT</span></td> -->
<!-- 									<td align="right">Rp 3.126,78&nbsp;</td> -->
<!-- 								  </tr> -->
<!-- 								</table> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td><hr class="btmLine"> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td> -->
<!-- 								<table width="100%" border="0" cellspacing="0" cellpadding="0"> -->
<!-- 								  <tr> -->
<!-- 								  	<td class="padDate"> -->
<!-- 										<div id="balance_nav_result"> -->
<!-- 											<ul> -->
<!-- 												<li class="ul_style_va_top"> -->
<!-- 													<div id="balance_date_result"> -->
<!-- 														<ul> -->
<!-- 															<li class="ul_style_month">Sept</li> -->
<!-- 															<li class="ul_style_date">30</li> -->
<!-- 														</ul> -->
<!-- 													</div> -->
<!-- 												</li> -->
<!-- 											</ul> -->
<!-- 										</div> -->
<!-- 									</td> -->
<!-- 									<td><span class="txtNameAccSumValue">- Rp 100.000</span><br><span class="txtNameAccSumDet">ATM WITHDRAWAL</span></td> -->
<!-- 									<td align="right">Rp 6.126,78&nbsp;</td> -->
<!-- 								  </tr> -->
<!-- 								</table> -->
<!-- 							</td> -->
<!-- 						</tr> -->
<!-- 						<tr> -->
<!-- 							<td><hr class="btmLine"> -->
<!-- 							</td> -->
<!-- 						</tr> -->
						
<!-- 					</table> -->
					
				</div>	
		</form>
		<div class="footer-space"/>
	</ion-content>
</ion-view>
