<ion-view cache-view="false" view-title="{{'ccBlockingDetail' | translate}}">
  <ion-content class="simobi-background-content">
  
	<div id="ccDetailDisplayId" class="list list-inset">
		<table width="100%">
			<tr>
				<td id="ccDetailDisplay">
				</td>
			</tr>
		</table>
	</div>	
	
	<div class="list list-inset" id="transferInput">
		<label class="item">
			Click Submit to Request Block/Unblock Card
		</label>
	</div>
	
	<ul class="list">
        <li class="item item-toggle">
          <h3>Card status : {{cardStatus}}</h3>
           <label class="toggle toggle-assertive">
             <input type="checkbox" ng-checked="isChecked" ng-disabled="isDisable" id="cardStatus" name="cardStatus" ng-click="doBlockUnblock();">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
    </ul>
    <ul class="list" ng-show="ShowBlock == true">
        <li class="item item-toggle">
          <h3>Card Block : {{BlockCard}}</h3>
           <label class="toggle toggle-assertive">
             <input type="checkbox" ng-checked="isCheckedBlock" ng-disabled="isDisable" id="BlockCard" name="BlockCard" ng-click="doBlockTP();">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
    </ul>
  	<!-- <ul class="list" ng-show="ShowBlock == true" >
	  <label class="item item-input item-select">
	    <div class="input-label">
	      Card Block : 
	    </div>
	    <select ng-change="doBlockPermanent()" ng-model="BlockCard">
	      <option ng-model="BlockPermanent" name="BlockPermanent" ng-click="doBlockPermanent();">Permanet</option>
	      <option ng-model="BlockTemporary" name="BlockTemporary" ng-click="doBlockTemporary();">Temporary</option>
	    </select>

	    <select ng-options="options in BlockCard1" ng-model="blockCard" ng-change="doBlockPermanent()"></select>
	  </label>
	</ul> -->
	<!-- <ul class="list">
    	<li class="item item-toggle">
			<div id="securityTypeTokenInput" class="securityType-TokenInput"></div>
			<div id="id1"></div>
		</li>
    </ul> -->
<!-- 	<button class="button button-block button-positive" ng-click="doBack();"> -->
<!-- 	  	Back -->
<!-- 	</button> -->
	
<!-- 	<button class="button button-block button-positive" ng-click="doChangeLimit();"> -->
<!-- 	  	Change Limit -->
<!-- 	</button> -->

	<!-- <button class="button button-block button-positive" ng-click="doBlockRequest();"> -->
	<button class="button button-block button-positive" ng-disabled="isDisable" ng-click="checkSecurityTypeAssigner();">
	  	Submit
	</button>
	
	  <br>

	  <table>
	   		<tr>
	   			<td>
	   			</td>
	   			<td>
	   				<p class="m_footer-noteheader">{{ 'msg_note' | translate }}</p>
	   			</td>
	   		</tr>
	   		<tr>
	   			<td>
	   				<p class="m_footer-noteheader">{{ 'number_1' | translate }}</p>
	   			</td>
	   			<td>
	   				<p class="m_footer-notefield">{{ 'note_cc_block_1' | translate }} </p>
	   			</td>
	   		</tr>
	  </table>
	  
<!-- 	<div class="card">
	  	<a class="item item-icon-left" href="tel:+622150188888">
		    <i class="icon ion-android-call"></i>
		    	{{'note_cc_directCallCS'|translate}}
		    <span class="item-note">
		    	(021)501 88888
		    </span>
	    </a>
	</div> -->
	  
	<div>
		<table border="0" >
	        <tr>
				<td>
					<input ng-model='ccNumber' type='text' name='ccNumberHidden' id='ccNumberHidden' style="visibility: hidden;"/>
<!-- 					<input ng-model='ccNumber' type='text' name='ccNumberHidden' id='ccNumberHidden' /> -->
				</td>
			</tr>
		</table>
	</div>
	
	<div class="footer-space"/>
  </ion-content>
</ion-view>