<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'fundTransfer_bankList' | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePopupBankList()">Close</button>
    </div>
  </ion-header-bar>
 
  <table width="100%">
    <tr>
      <td style="vertical-align:top;padding-top:45px;">
        <div>
          <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="query" placeholder="Search">
          </label>
        </div>
      </td>
    </tr>
  </table>
  
  <ion-content>
    <table width="100%">
      <tr>
        <td style="vertical-align:top;padding-top:45px;">
            <ion-item class="item item-text-wrap" ng-repeat="bank in bankList | filter:query" ng-click="copyBankNameList(bank.id, bank.bankName);" id="{{bank.id}}">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                   <tr>
                     <td class="wrapTD">
                        <span class="txtWrap">{{bank.bankName}}</span>
                      </td>
                   </tr>
              </table>
            </ion-item>
        </td>
      </tr>
    </table>
  </ion-content>

</ion-modal-view>
