<ion-view cache-view="false" view-title="Card Limit">
  <ion-content class="simobi-background-content">
  
	<div class="list list-inset" id="transferInput">
		<label class="item item-input">
<!-- 		  	<input type='text' name='ccLimitText' id='ccLimitText' placeholder="Input New Limit" size="45" ng-model="ccLimitText"/> -->
			<input type="tel" name="ccLimitText" id="ccLimitText" size="17" style="font-size:20px;font-weight:bold;" onkeyup="addCommas2(this.value);" maxlength="15" placeholder="Input New Limit Amount" ng-model="ccLimitText"/>
		</label>
	</div>
	
	<button class="button button-block button-positive" ng-click="doCcRequestChangeLimit();">
	  	Submit
	</button>
	
	<div class="footer-space"/>
  </ion-content>
</ion-view>