<ion-view cache-view="false" view-title="Change PIN">
  <ion-content class="simobi-background-content">
  
	<div class="list list-inset">
		<table width="100%">
	      <tr>
	        <td style="vertical-align:top;padding-top:0px;">
	            <ion-item class="item item-text-wrap" ng-repeat="creditCard in creditCardList | filter:query" ng-click="doChangePinDetail(creditCard.id,creditCard.accountNumber);" id="{{creditCard.id}}">
	              <table width="100%" border="0" cellspacing="0" cellpadding="0">
	                   <tr>
	                     <td class="wrapTD">
	                        <span class="txtWrap">{{creditCard.label}}</span>
	                      </td>
	                   </tr>
	              </table>
	            </ion-item>
	        </td>
	      </tr>
	    </table>
	</div>
	
	<div>
		<table border="0" >
	        <tr>
				<td>
					<input ng-model='ccNumber' type='text' name='ccNumberHidden' id='ccNumberHidden' style="visibility: hidden;"/>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="footer-space"/>
  </ion-content>
</ion-view>