<ion-view cache-view="false" view-title="Credit Card CS">
  <ion-content class="simobi-background-content">
  
	<div class="card">
	  	<a class="item item-icon-left" href="tel:+622150188888">
		    <i class="icon ion-android-call"></i>
		    	{{'note_cc_directCallCS'|translate}}
		    <span class="item-note">
		    	(021)501 88888
		    </span>
	    </a>
	    <a class="item item-icon-left" href="tel:+62211500153">
		    <i class="icon ion-android-call"></i>
		    	{{'note_cc_24HourCS'|translate}}
		    <span class="item-note">
		      	(021)1500 153
		    </span>
	    </a>
	</div>
	
	<div class="footer-space"/>
  </ion-content>
</ion-view>